html {
  scroll-behavior: smooth;
}

.transparent-yellow {
  background-color: rgba(245, 158, 11, 0.3);
}

.transparent-blue {
  background-color: inherit;
}

.transparent-blue:hover {
  background-color: rgba(59, 130, 246, 0.2);
}

.transparent-brand {
  background-color: inherit;
  transition: 200ms ease-in-out;
  -webkit-transition: 200ms ease-in-out;
  -moz-transition: 200ms ease-in-out;
  -ms-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
}

.transparent-brand:hover {
  background-color: rgba(29, 161, 242, 0.1);
}

.transparent-pink {
  background-color: inherit;
}

.transparent-pink:hover {
  background-color: rgb(236, 72, 153, 0.1);
}

.bg-semi-transparent {
  background-color: rgba(0, 0, 0, 0.5);
}

.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-link {
  color: inherit;
  text-decoration: none;
}

.line-height {
  line-height: 22px;
}

.margin-top {
  margin-top: 50px;
}
/**
thin scrollbar
*/

::-webkit-scrollbar {
  width: 8px;
  border-radius: 100%;
  display: none;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

::-webkit-scrollbar-track {
  background: inherit;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #374151;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
